

/* Login.php  style*/
#login_form {
	border: 3px;
/*	border-style:ridge;  */
}

/* Force the Login form to display lower */
#spacer {
	min-height: 80px;
}


/*   ***********   ar_dashboard  **************** */
#date {
	font-size:medium;
	font-weight: bold;
}

#displayed_year {
	font-weight: bold;
    font-size:x-small;
}

#displayed_month {
    font-weight: bold;
    font-size:x-small;
}

#calendar_matrix {
    font-size: 8px;
}


/* Increase the size of the modals */
body .incmodalwidth {
    /* new custom width */
    width: 80%; /* respsonsive width */
  	margin-left:auto;
  	margin-right:auto; 
    /* must be half of the width, minus scrollbar on the left (30px) */
/*    margin-left: -225px;*/
}
