

/* Login.php  style*/
#login_form {
	border: 3px;
/*	border-style:ridge;  */
}

/* Force the Login form to display lower */
#spacer {
	min-height: 80px;
}


/*   ***********   ar_dashboard  **************** */
#date {
	font-size:medium;
	font-weight: bold;
}

#displayed_year {
	font-weight: bold;
    font-size:x-small;
}

#displayed_month {
    font-weight: bold;
    font-size:x-small;
}

#calendar_matrix {
    font-size: 8px;
}